* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #06090f;
    padding-bottom: 80px; /
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.308);
}

.logo {
    width: 2rem;
}

.logo-nome {
    font-size: 1.1rem;
    font-weight: bold;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
/*======================== INICIO PESQUISA ==================================*/

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px auto;
  padding: 0 16px;
  max-width: 600px;
}

.search-bar input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background-color: #f9f9f9;
}

.search-bar button {
  background: none;
  border: none;
  cursor: not-allowed; 
  padding: 8px;
}

.search-bar img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}





.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 0 1rem;

}

.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.title-cap{
    color: #cbc5c5;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0; 
    text-align: center; 
}

/*======================== FIM PESQUISA ==================================*/

/*======================== INICIO ESTANTE ==================================*/
.book-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 150px)); 
    gap: 20px;
    padding: 30px;
    justify-content: center; 
    max-width: calc(150px * 3 + 20px * 2 + 60px); 
    margin: 0 auto; 
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-placeholder {
    width: 100%;
    aspect-ratio: 2 / 3;
    background-color: #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cover-placeholder:hover{
    transform: scale(1.02);
}

.book-title {
    margin-top: 10px;
    width: 90px;
    height: 25px;
    background-color: #fcd600;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    /* remover regras de texto */
    display: flex;
    align-items: center;
    justify-content: center;

    /* evita esticar a imagem */
    object-fit: contain;
}


@media (min-width: 768px) {
    .book-grid {
      grid-template-columns: repeat(4, minmax(0, 150px)); /* 4 colunas com largura máxima 150px */
      max-width: calc(150px * 4 + 20px * 3 + 60px); /* aumenta largura máxima para 4 colunas */
    }
}
/* ==============================FIM ESTANTE =================================== */



.tabbar {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background: hsl(0, 0%, 100%); 
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    z-index: 100;
}

.tab {
    background: none;
    border: none;
    width: 1.3rem;
    font-size: 0.5rem;
    color: #888;
    cursor: pointer;
    opacity: 60%;
}

.tab.active {
    opacity: 100%;
}
