* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    padding-bottom: 80px; /
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.logo {
    width: 2rem;
}

.logo-nome {
    font-size: 1.1rem;
    font-weight: bold;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.card {
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: #fefa00;
    height: 7.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
}

.card-sample {
    background: #121212;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem auto; /* centraliza e mantém margem lateral */
    aspect-ratio: 5 / 1;
    width: 100%;
    max-width: 90vw; /* usa 90% da largura da viewport, não 600px */
    box-sizing: border-box; /* evita que padding ultrapasse os limites */
}

.card-1 {
    background: #FB0000;
    border-radius: 8px;
    height: 7.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
}
.card-2 {
    background: #FE7B1D;    
    border-radius: 8px;
    height: 7.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
    margin-top: -4rem;
   
}
.card-3 {
    background: #000;
    border-radius: 8px; 
    height: 7.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
    margin-top: -4rem;
}

.card-name-chapter {
    background: rgb(4, 4, 4);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
}



.card-chapter {
    background: rgb(0, 0, 0);
    border-radius: 5px;
    height: 10rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    margin: 1rem;
}

.card h2 {
    font-size: 8px;
    border-radius: 1.1rem;
    margin-bottom: 1rem;
}

.legend-text {
    font-size: 1.3rem;
    margin-top: 1rem;
}
    
#output {
    background-color: rgb(255, 247, 0);
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9;
    margin-top: 10px;
    text-align: center;
    margin: 20px auto; 
}

.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed;
}
/* Estilo da tab bar */
.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ddd;
    z-index: 10;
}

.tab {
    background: none;
    border: none;
    width: 1.3rem;
    font-size: 0.5rem;
    color: #888;
    cursor: pointer;
    opacity: 60%;
}

.tab.active {
    opacity: 100%;
}

/* Botão "+" */
.upload-btn {
    background-color: #111;
    color: white;
    font-size: 2rem;
    width: 58px;
    height: 58px;   
    border-radius: 8px;
    border: none;
    position: relative;
    top: -25px;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fileInput {
    display: none;
}